.appList {
  width: 104rem;
  height: 41rem;

  background-color: var(--base-color-cyan-900);
}

.listHeader {
  padding: 0 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--base-color-gray-100);
  background-color: var(--base-color-gray-600);
}

.user {
  width: 40rem;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}