.appList {
  width: 104rem;
  height: 41rem;

  background-color: var(--base-color-cyan-900);
}

.listHeader {
  padding: 0 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--base-color-gray-100);
  background-color: var(--base-color-gray-600);
}

.user {
  width: 40rem;
}

.details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userSection {
  padding: 1.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--base-color-gray-100);
}

.userProfile {
  width: 40rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.userProfile img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.userProfileText {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profileDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  color: var(--base-color-red-500);
  background-color: transparent;
  border: none;
  cursor: pointer;
}